.py-1 {
    padding: 10px 0;
}

.items {
    border: 1px solid #e2e5ec;
    padding: 30px;
}

.text-bold {
    font-weight: 900;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-right: 0px!important;
    padding-left: 5px!important;
}