.p-tabs {
  margin-top: 85px;
  position: relative;
  padding-top: 115px;
  line-height: 20px;
}
.c-content-expert__summary:after {
  width: 0px;
}
.p-tabs{
  width: 100%;
}
.flex{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.c-content-expert{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 80px;
  flex-wrap: wrap;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
  padding: 25px 0;
}
.flex-rev{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.font-20{
  font-size: 15px;
}
.p-tabs {
  margin-top: 85px;
position: relative;
padding-top: 115px;
line-height: 20px;
}
.p-tabs {
  margin-top: 0px;
  width: 100%;
}
.c-box-tabs {
  border: 0!important;
}
.pt10{
  padding-top: 30px!important;
}
.marr40{
  margin-right: 40px!important;
}
.bbb{
  font-size:48px!important;color:#f05562;
}
.divphone{
  padding: 20px 0!important;
}
.emailI{
  font-size:48px!important;color:#f05562
}
.addresscard{
  font-size:48px!important; color:#03bfd6!important;
}